appdirs==1.4.3
click==6.7
dj-database-url==0.4.2
Django==3.2.21
djangorestframework==3.9.1
gunicorn==19.7.1
packaging==16.8
psycopg2==2.8.6
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
whitenoise==3.3.0
social-auth-app-django==3.4.0
python-jose==3.3.0
python-dotenv==0.19.2