<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoApp</title>

    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'todos/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    body{
        min-height:100vh;
    }
    footer {
      position:sticky;
      text-align: center;
      padding: 20px;
      background-color: rgb(133, 177, 175);
      color: white;
      margin-top: auto;
}
    </style>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T4CR5R6YXP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T4CR5R6YXP');
</script>
<body>

    <div class="container baseContainer ">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li role="presentation">

                            <a href="{% url 'create' %}">Add Task</a>
                        </li>
                        <li role="presentation">
                            <b>{{user.first_name}} {{user.last_name}}</b>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                    <div class="login-box auth0-box before">
                        <img src="https://i.cloudup.com/StzWWrY34s.png" />
                        <h3>Auth0 Example</h3>
                        <p>Zero friction identity infrastructure, built for developers</p>
                        <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>
                    </div>
                        <!-- <li role="presentation">
                            <a href="{% url 'login' %}">Login</a>
                        </li> -->
                        <li role="presentation">
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">
                <a href="{% url 'index' %}">TodoApp</a>
            </h3>
        </div>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer class="footer">

            <a href=https://github.com/srisathyamamidala/To-do-List>To-do-list repo</a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/srisathyamamidala/GDP2-proposal">proposal</a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/srisathyamamidala/To-do-List/issues">issues</a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/srisathyamamidala/To-do-List/wiki">wiki</a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/srisathyamamidala/swagger-to-do-list">swagger</a>&nbsp;&nbsp;&nbsp;
            

        </footer>

    </div>
    <!-- /container -->
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'axios.min.js' %}"></script>
    <script src="{% static 'todos/js/todo.js' %}"></script>
</body>

</html>
